/* Globala textinställningar */
h1, h2, h3, .navbar a {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.3em;
}

/* Globala textinställningar SLUT */

#freyaHeader {
    text-align: center;
    color: black;
}



body {
    margin: 0px auto 0px auto;
    max-width: 1280px;
    background-color: rgba(110, 196, 236, 0.116); 
   /*  background-image: linear-gradient(rgb(255, 255, 255), rgb(184, 184, 184)); */
    overflow: scroll;
}

@media screen and (max-width: 1280px) {
body {
    padding: 0px 3px 0px 3px;
}
}
    

/* ---------------Navigatonsmenyn börjar--------------- */
.navbar ul {
    display: flex;
    margin-left: -2.1em;
    font-size: larger;
    text-align: center;
    
}

.navbar li {
    display: flex;
    background-color: gray;
    margin: 1px;
    flex-grow: 1;
}

.navbar li a{
    text-decoration: none;
    padding: 25px;
    color: white;
    width: 100%;
}

.navbar a:hover{
    background-color:rgb(190, 190, 190);
    color: rgb(255, 255, 255); }

li.aktiv {
    background-color:rgb(190, 190, 190);
    color: rgb(255, 255, 255); 	
}

@media screen and (max-width: 695px){

    .navbar ul {
        flex-direction: column;
    }
    .navbar li a {
        padding: 10px;
        text-align: center;
    }
}
/* ---------------Navigatonsmenyn slutar--------------- */

/* Kundrecensioner */

.recensionHeader{

    margin: 50px auto 0px auto;
    width:400px;
    padding: 1px;
} 
.recensionsText {
    margin: 10px auto 20px auto;
    max-width: 400px;
    font-size: 1.3em;
}

.kundNamn {
    text-align: center;
    margin: 0px auto 10px 0px;
    font-size: small;
    font-style: italic;
}

/* Kundrecensioner SLUT */ 

/* kontaktformulär */
.formsformular {
    margin-top: 3em;
    text-align: center;
}

.kontaktformulartext {

    display: inline-block;
    text-align: left;
    
}


/*Datum-knappar storlek*/
.datum{
    width: 100px;
}

/*Sänd-knapp storlek*/
.knappstorlek {
    width: 80px;
    height: 30px;
}


/* kontaktformulär SLUT */

.fullbredd{
    width: 100%;
    height: auto;
}


/* Galleribilder flexbox */

.bildbehallare{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.flexboxbild {
  width: 320px;
  flex-basis: 100%;
  padding: 1px;
  box-sizing: border-box;
}

.flexboxbild:hover {
    opacity: 0.7;
    transition:0.5s;
    
}
.bredd1280{
width: 100%;
   }
    /* media query för galleri */
    @media screen and (min-width: 695px)
    {
        .flexboxbild {
            flex-basis: 50%;
        }
    }

    @media screen and (min-width: 977px)
    {
        .flexboxbild {
            flex-basis: 33.33%;   
        }
    }
    /* media query för galleri SLUT */
/* Galleribilder flexbox SLUT */

/* Prislista tabell*/
#priser{
text-align: center;
margin-top: 2.5em;
}

.pristabell {
text-align: left;
border-collapse:collapse;
font-size: 1.3em;
width: 100%;
}

.pristabell th, td{
    border: 1px solid black; 
    padding: 20px;
}
.radbredd {
    width: 0;
}

.ljusbakgrund{
background-color: rgba(255, 255, 255, 0.986);
}
.morkbakgrund{
background-color: rgb(206, 203, 203);
}

.kontaktamig {
text-align: center;
}

    /* Media query för pristabell*/
    @media screen and (max-width: 864px){
        .pristabell{
            font-size: 1em;
        }
        .pristabell th, td {
            padding: 15px;
        }
    }

    @media screen and (max-width: 695px){
        .pristabell{
            font-size: 0.9em;
            margin: 0px auto;
        }
        .pristabell th, td{
            padding: 10px;
    }
    }

    @media screen and (max-width: 550px) {
        .pristabell {
            font-size: 0.8em;
        }
        .pristabell th, td{
            padding:5px;
        }
        .tabellsektion{
            width: 375px;
        }

    }


    /* Media query för pristabell SLUT*/
/* Prislista tabell SLUT */


/* Om Freya text*/


.freyatextheader{
text-align: center;
}

.freyatext{
max-width: 640px;
margin: 30px auto;
font-size: 1.2em;
}

.freya {
width: 100%;
margin: 0px auto;

}

/* Om Freya text SLUT */

/* Datum då sidan uppdaterades */
.publicerad-uppdaterad{
    font-size: 1.1em;
    text-align: center;
    margin-top: 45px;
}
/* Datum då sidan uppdaterades */

/* Centrerad text för landningssida */
.centreradtext {
    text-align: center;
}


/* Footer */
.footer {
    display: flex;
}
.footer div {
    margin: 0 auto;
    text-align: center;
    min-width: 130px;}
.footer div a {
    background-color: rgb(117, 114, 114);
    padding: 0px 45px;
    border: 1px solid black;
    color: white;
    text-decoration: none;
}

/* Footer SLUT */
